<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= site_name %> - powered by Twibblr</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/twibblr/stylesheets/master.css" rel="stylesheet" type="text/css" media="screen" />
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', 'http://plugins.jquery.com/files/jquery.timer.js_0.txt' %>s
    <%= yield :head %>
  </head>
  <body>
    <!-- start header -->
    <div id="header">
      <div id="logo">
        <h1><%= link_to site_name, "/" %></h1>
        <p>Powered by <a href="http://github.com/bjeanes/twibblr">Twibblr</a></p>
      </div>
      <div id="search">
        <form method="get" action="">
          <fieldset>
          <input id="s" type="text" name="s" value="" />
          <input id="x" type="submit" value="Search" />
          </fieldset>
        </form>
      </div>
    </div>
    <!-- end header -->
    <!-- start page -->
    <div id="page">
      <!-- start content -->
      <div id="content">
        <%= yield %>
      </div>
      <!-- end content -->
      <!-- start sidebar -->
      <%= render :partial => 'layouts/sidebar' %>

      <!-- end sidebar -->
    </div>
    <!-- end page -->
    <div id="footer">
      <p>&copy;2007 All Rights Reserved. &nbsp;&bull;&nbsp; Design by <a href="http://templatefusion.org">TemplateFusion</a> &nbsp;&bull;&nbsp; Icons by <a href="http://www.famfamfam.com/">FAMFAMFAM</a>.</p>
    </div>
  </body>
</html>